/*
Candlelight
A TUI frontend to Canvas because the website sucks
CSS Stylesheet
*/

#error,
#error2{
    color:crimson;
    align: center middle;
    text-align: center;
}

#title,
#title2 {
    text-style: bold;
}

#loginlist {
    padding-bottom: 10;
}
